<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul >
    <% messages.forEach(function(message) { %>

      <li>
        <h3><%= message.username %>:</h1>
       <strong>Message</strong> : <%= message.message %>
       <hr>
       <strong>Added:</strong> <%= message.added %>
          <button>
            <a class="buttonLink" href="/message/<%= message.id %>">Open</a>
          </button>
      </li>
   <% }); %>
  </ul>


  <a href="/new">New Message</a>

  </body>
</html>
